name: binance-futures-calculator

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: binance-futures-calculator-web
    ports:
      - "3004:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production